@font-face {
    font-family: cons;
    src: url(assets/Consolas.ttf);
}

.lily-workspace {
    width: 800px;
    height: 300px;

    font-size: 16px;
    font-family: cons, monospace;
    border: 1px dashed gray;
}

.lily-line-numbers {
    font-size: 16px;
    font-family: cons, monospace;

    border-right: 1px solid gray;
    background-color: white;
}

.lily-line-number {
    color: black;
}

.lily-editor {
    cursor: text;
    color: black;
    font-size: 16px;
    font-family: cons, monospace;
    background-color: white;
}

.lily-editor-caret {
}