.lily-workspace {
    position: relative;
    overflow: auto;
    text-align: left;
}

.lily-line-numbers {
    width: 40px;
    min-height: 100%;
}

.lily-line-number {
    margin: 0;
    padding: 0;
}

.lily-editor-container {
    position: relative;
    width: calc(100% - 41px);
    min-height: 100%;
    float: right;
}

.lily-textarea {
    position: absolute;
    min-width: 100%;
    min-height: 100%;

    opacity: 0;
    overflow: hidden;
    background-color: transparent;

    margin: 0;
    padding: 0;
    border: 0;
}

.lily-editor {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    white-space: pre;
}
